# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
        exclude: "tests/fixtures/"
    -   id: end-of-file-fixer
        exclude: "tests/fixtures/"
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: https://github.com/psf/black.git
    rev: "23.3.0"
    hooks:
    -   id: black
-   repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: isort (python)
-   repo: https://github.com/pycqa/flake8
    rev: '6.0.0'  # pick a git hash / tag to point to
    hooks:
    -   id: flake8
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v3.5.2
    hooks:
    -   id: commitizen
